@import url('https://fonts.googleapis.com/css2? family=Outfit:wght@600&display=swap');
.contenedor {
    border-radius: 5%;
    width: 18%;
    background-color: white;
    margin-left: 41%;
    margin-top: 10%;
}
.imagen img {
    width: 90%;
    border-radius: 5%;
    margin-left: 5%;
    margin-top: 5%;
}
html{
    background-color: hsl(188, 24%, 75%);
}
.tema{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    width: 95%;
    margin-left: 2%;
}
.texto {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 15px;
    color: gray;
}
@media (max-width: 800px){
    .contenedor{
        width: 90%;
        margin-left: 5%;
    }
    .imagen img{
        width: 90%;
    }
    .tema{
        font-size: 35px;
    }
    .texto{
        font-size: 25px;
        padding-bottom: 5vw;
    }
}
@media (max-width: 600px){
    .contenedor{
        margin-top: 25vw;
    }
    .tema{
        font-size: 25px;
    }
    .texto{
        font-size: 16px;
    }
}