@import url('https://fonts.googleapis.com/css2? family=Outfit:wght@600&display=swap');
.contenedor {
    border-radius: 5%;
    width: 18%;
    background-color: white;
    margin-left: 41%;
    margin-top: 10%;
}
.imagen img {
    width: 90%;
    border-radius: 5%;
    margin-left: 5%;
    margin-top: 5%;
}
html{
    background-color: hsl(188, 24%, 75%);
}
.tema{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    width: 95%;
    margin-left: 2%;
}
.texto {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 15px;
    color: gray;
}